.footer {
  height: 360px;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px;
  gap: 5%;
}

.f_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.f_s_title {
  color: #d4af37;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  text-transform: capitalize;
}

.f_s_linkList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 11.125px;
  flex-shrink: 0;
}

.min_section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile_budgets {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile_budge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 24px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.07);
  font-weight: 400;
  line-height: 12px; /* 100% */
}

.mobile_budge_text {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social_links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 728px) {
  .footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal column widths */
    gap: 20px;
    justify-content: center;
    margin: none;
  }

  .footer::before {
    content: "";
    width: 100vw;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height:24px;
    background: linear-gradient(to top, #fbe895af, #67552ca3, #000000);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .f_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .f_section:nth-last-child(1) {
    padding: 20px 0 0 0;
    grid-column: span 2; /* Span across both columns */
  }

  .f_section:nth-last-child(1) {
    text-align: center;
  }

  .f_s_linkList {
    align-items: center;
  }

  .social_links {
    padding: 0 0 20px 0;
  }

  .mobile_budgets {
    align-self: center;
  }
}
