.page-container {
  min-height: 100vh;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 0;
  background: url("/luxury-bmw-cars.jpg") no-repeat center/cover;
}

.hero-content {
  flex: 1;
  max-width: 600px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.filter-container {
  position: absolute;
  right: 1rem;
  top: 10rem;
  width: 70vw;
  padding: 20px 20px 27px 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.07);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 27px;
}

.state-list {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: start;
  color: #fff;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.6px; /* 185% */
}

.filter-state {
  cursor: pointer;
}

.filter-state:hover {
  border-bottom: 2px solid #fff;
}
.active {
  border-bottom: 2px solid #fff;
}

.search-container {
  width: 100%;
  height: 74px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.filter-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.filter-option label {
  color: #050b20;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
  text-transform: capitalize;
}

.filter-option select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.75px; /* 185% */
  color: #7a7a7a;
  cursor: pointer;
}

.filter-option select option {
  color: #050b20;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}

.search-btn {
  display: flex;
  width: 216px;
  padding: 13.59px 70.7px 14.41px 78px;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  border-radius: 10px;
  background: #d4af37;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.75px; /* 185% */
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  letter-spacing: 2px;
}

.search-btn:hover {
  background-color: #b8941f;
  transform: translateY(-2px);
}

.hero-text {
  margin-top: 10rem;
  margin-left: 10rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-primary {
  border-radius: 12px;
  background: #d4af37;
  color: #181818;
  border: none;
  padding: 12px 32px;
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #b8941f;
  transform: translateY(-2px);
}

.btn-secondary {
  background: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  padding: 12px 32px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: transparent;
  color: #ffffff;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Sections */
.contact-section {
  padding: 4rem 8rem;
  /* max-width: 1200px; */
  height: 80vh;
  margin: 0 auto;
}

.section {
  padding-top: 15px;
  margin-bottom: 60px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
  margin-bottom: 3rem;
}

.section-title {
  color: #d4af37;
  font-family: "DM Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  margin-bottom: 24px;
}

.section-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
}

.brand-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 209px;
  height: 180.59px;
  padding: 26px 54.5px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  color: #010101;
}

.brand-card:hover {
  transform: translateY(-5px);
}

.brand-card img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.brand-card span {
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px; /* 120% */
}

.car-card {
  position: relative;
  flex-shrink: 0;
  display: flex;
  width: 328px;
  padding-bottom: 0.11px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #232323;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.car-card:hover {
  transform: translateY(-5px);
}

.car-image {
  width: 100%;
  height: 218.66px;
  flex-shrink: 0;
  overflow: hidden;
}

.car-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #d4af37;
  color: #010101;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

.bookmark-badge {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  flex-shrink: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.bookmark-badge:hover {
  background: #343434;
}

.car-info {
  padding: 1.5rem;
}

.car-info h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.car-info p {
  color: #abaaaa;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #d4af37;
  margin-bottom: 1rem;
}

/* Testimonials */

.testimonial-card {
  width: 400px;
  height: 338px;
  flex-shrink: 0;
  background: #232323;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin: 12px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  background: #ffffff;
}

.testimonial-card:hover .testimonial-title,
.testimonial-card:hover .quote-icon,
.testimonial-card:hover .author-name,
.testimonial-card:hover .testimonial-description,
.testimonial-card:hover .author-role {
  color: #181818;
}

.quote-icon {
  color: #d4af37;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.testimonial-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #d4af37;
}

.testimonial-description {
  color: #abaaaa;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.testimonial-author {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-weight: 600;
  color: #ffffff;
}

.author-role {
  color: #abaaaa;
  font-size: 0.9rem;
}

/* Contact Section */
.contact-section {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.contact-images {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contact-images img:first-child {
  grid-column: 1 / -1;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.contact-images img:not(:first-child) {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.contact-info {
  flex: 1;
}

.contact-info h2 {
  font-size: 2.5rem;
  color: #d4af37;
  margin-bottom: 2rem;
  line-height: 1.2;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.contact-info p {
  color: #abaaaa;
  font-size: 1.1rem;
  line-height: 1.6;
}

.mobile-responsive {
  overflow-x: scroll;
  scrollbar-color: transparent transparent; /* For Firefox */
  flex-wrap: nowrap;
  padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .filter-container {
    right: 50%;
    transform: translateX(50%);
    width: 100%;
  }

  .search-container {
    height: 220px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .filter-option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-option label {
    text-align: left;
  }

  .filter-option select {
    width: 68%;
  }

  .filter-option select option {
    text-align: left;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-text {
    display: flex;
    margin-top: 30rem;
    margin-left: 0rem;
    gap: 40px;
  }

  .section-header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .contact-section {
    flex-direction: column;
    height: auto;
  }

  .contact-info {
    text-align: center;
  }

  .brands-section,
  .recently-added,
  .testimonials,
  .contact-section {
    padding: 2rem 1rem;
  }
}
